//container
.container {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: $website-width;
  overflow: hidden;
}

// btn
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all $transition-speed;
  border: none;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: $primary-color;
  }
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #fff;
    background: $primary-color;
  }

  &-light {
    @extend %btn-shared;
    color: $dark-color;
    background: $light-color;

    &:hover {
      color: $light-color;
      background: $primary-color;
    }
  }

  &-dark {
    @extend %btn-shared;
    color: $light-color;
    background: $dark-color;

    &:hover {
      color: $dark-color;
      background: $primary-color;
    }
  }
}

// text
.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.center {
  text-align: center;
}
.section-title {
  font-size: 2rem;
}

// py
.py-1 {
  padding: 2rem 0;
}
.py-2 {
  padding: 3rem 0;
}
.py-3 {
  padding: 4rem 0;
}

// py
.my-1 {
  margin: 2rem 0;
}
.my-2 {
  margin: 3rem 0;
}
.my-3 {
  margin: 4rem 0;
}

// bg
.bg {
  &-dark {
    background: $dark-color;
  }

  &-light {
    background: $light-color;
  }
}

// under line
.under-line {
  margin: 0 auto;
  padding-bottom: 0.5rem;
  width: 3rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid $primary-color;
}
