// colors
$primary-color: #ffbc00;
$dark-color: #333;
$dark-gray-color: #aaa;
$light-gray-color: #ebebeb;
$light-color: #f4f4f4;

// width
$website-width: 1480px;

// background img
$bg-img: url("../img/showcase.jpg");

// transition
$transition-speed: 0.5s;
